<div class="row">
  <div class="col-lg-6">
    <nb-card style="text-align: right;">
      <nb-card-header>تنظیمات پیشرفته</nb-card-header>
      <nb-card-body>
        <label>{{test}}</label>
        <form *ngIf="is_loaded">
          <div class="alert alert-primary" role="alert">
            <strong>سنسور موردنظر خودرا انتخاب کنید</strong>
          </div>
          <div class="form-group validation-checkboxes row ">
            <div style="padding: 15px;" *ngFor="let item of radiobox_array; let i = index;">
              <button class="btn btn-hero-info" id="{{i}}" type="button" value="{{item.name}}"
                      (click)="clicked_sensor()">{{item.name}}</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="loaded_gp">
    <nb-card style="text-align: right;">
      <nb-card-header>تنظیم گروه</nb-card-header>
      <nb-card-body>
        <div class="alert alert-primary" role="alert">
          <strong>گروه های موردنظر را انتخاب کنید</strong>
        </div>
        <div class="row">
          <div class="form-group col-6 col-md-4" *ngFor="let item of groups; let i = index">
            <button class="btn btn-warning" value="{{item}}">{{item}}</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="ab">
    <nb-card style="text-align: right;">
      <nb-card-header>مشخصات فعالسازی</nb-card-header>
      <nb-card-body>
        <div class="alert alert-primary" role="alert">
          <strong>حداقل و حداکثر مقدار سنسور برای روشن یا خاموش شدن گروه کلید هارا مشخص کنید</strong>
        </div>
        <div class="input-group">
          <span class="input-group-addon success">Min</span>
          <input type="text" class="form-control" ngDefaultControl="AddSensorComponent" [(ngModel)]="sensorID"
                 placeholder="ex : 0"/>
        </div>
        <div class="input-group">
          <span class="input-group-addon success">Max</span>
          <input type="text" class="form-control" ngDefaultControl="AddSensorComponent" [(ngModel)]="sensorID"
                 placeholder="ex : 100"/>
        </div>
        <div class="form-group">
          <button class="btn btn-hero-secondary" (click)="scheduleStart()">شروع برنامه ریزی</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6" *ngIf="!is_loaded">
    <nb-card [nbSpinner]="true" nbSpinnerSize="small">
      <nb-card-body>
        بارگزاری داده
      </nb-card-body>
    </nb-card>
  </div>
</div>
