<div class="row">
  <div class="col-lg-6">
    <nb-card style="text-align: right;">
      <nb-card-header>مشاهده وضعیت آب و هوایی سنسور</nb-card-header>
      <nb-card-body>
        <label>{{test}}</label>
        <form *ngIf="is_loaded">
          <div class="alert alert-primary" role="alert">
            <strong>سنسور موردنظر خودرا انتخاب کنید</strong>
          </div>
          <div class="form-group validation-checkboxes row ">
            <div style="padding: 15px;" *ngFor="let item of radiobox_array; let i = index;">
              <button class="btn btn-hero-info" id="{{i}}" type="button" value="{{item.name}}"
                      (click)="selected($event)">{{item.name}}</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" *ngIf="is_selected">
    <nb-card>
      <nb-card-header>Forecast in 4 hours</nb-card-header>
      <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
